<div>
    <div class="menu-secundario mb-6">
        <ul>
            <li>
                <a @click="type='col'" :class="{'is-active':type==='col'}">Fútbol Colombiano</a>
            </li>
            <li>
                <a @click="type='int'" :class="{'is-active':type==='int'}">Fútbol Internacional</a>
            </li>
        </ul>
        <div class="tw-items-center teams-list">
            <div v-for="tournament in tournaments[type]" class="team-item">
                <a :class="{'is-active':tournament.field_opta_id === competition}" :href="'/posiciones?id='+tournament.field_opta_id + '-'+tournament.field_opta_season">
                    <img :src="tournament.field_image_h" :alt="tournament.title">
                </a>
            </div>
        </div>
    </div>
    <div class="opta-widgets">
        <div v-if="competition>0 && season>0">
            <div class="flex flex-no-wrap overflow-x-auto w-full mb-px">
                <div @click="selectOption(option.key)" v-for="option in options" class="flex-1 text-center whitespace-no-wrap py-3 px-6 font-title font-semibold cursor-pointer table-option" :class="selected_option == option.key?'active':''">{{ option.label }}</div>
            </div>
            <div v-show="selected_option == 'positions'" id="positions">
                <opta-widget widget="standings" sport="football" :competition="competition" :season="season" template="normal" live="true" default_nav="1" side="combined" data_detail="full" show_key="true"
                             show_crests="true" points_in_first_column="true" lose_before_draw="true" competition_naming="full" team_naming="full" date_format="dddd D MMMM YYYY" sorting="false" show_live="true" show_relegation_average="false" show_logo="false" show_title="false"
                             time_format="hh:mm A" breakpoints="400">
                </opta-widget>
            </div>
            <div v-show="selected_option == 'calendar'" id="calendar">
                <opta-widget load="false" sport="football" widget="fixtures" :competition="competition" :season="season" template="normal" live="true" show_venue="false" match_status="fixture" grouping="date" show_grouping="true"
                             default_nav="1" start_on_current="true" switch_current="0" sub_grouping="date" show_subgrouping="false" order_by="date_ascending" show_crests="true" date_format="dddd D MMMM YYYY" time_format="hh:mm A" competition_naming="full" team_naming="full"
                             pre_match="false" show_live="true" show_logo="false" show_title="false" breakpoints="400">
                </opta-widget>
            </div>
            <div v-show="selected_option == 'results'" id="results">
                <opta-widget load="false" widget="fixtures" :competition="competition" :season="season" template="normal" live="true" show_venue="false" match_status="result,live" grouping="round" show_grouping="true" navigation="none" default_nav="1" start_on_current="true" sub_grouping="date" show_subgrouping="true" order_by="date_ascending" show_crests="true" date_format="dddd D MMMM YYYY" time_format="h:mma" month_date_format="MMMM" competition_naming="full" team_naming="brief" match_link="test" pre_match="true" show_live="true" show_logo="false" show_title="false" breakpoints="400" sport="football"></opta-widget>
            </div>
            <div v-show="selected_option == 'season_standings'" id="season_standings">
                <opta-widget load="false" widget="season_standings" :competition="competition" :season="season" template="normal" show_competition_name="false" show_team_list="true" preselected_only="false" show_match_header="false" show_date="true" show_match_details="true" show_crests="true" show_axis_labels="true" show_plot_points="true" plot_curves="false" date_format="dddd D MMMM YYYY" competition_naming="full" team_naming="full" show_logo="false" show_title="false" breakpoints="400, 700" sport="football"></opta-widget>
            </div>
            <div v-show="selected_option == 'team_ranking'" id="team_ranking">
                <opta-widget load="false" widget="team_ranking" :competition="competition" :season="season" template="normal" navigation="tabs_more" default_nav="1" show_crests="false" show_ranks="true" visible_categories="fouls,passing_accuracy,goals,goal_conversion,shots,passes" limit="10" hide_zeroes="true" team_naming="full" show_logo="false" show_title="false" breakpoints="400" sport="football"></opta-widget>
            </div>
            <div v-show="selected_option == 'scorers'" id="scorers">
                <opta-widget load="false" widget="player_ranking" :competition="competition" :season="season" template="graph" navigation="tabs_more" orientation="horizontal" show_crests="false" show_images="true" show_ranks="true" show_appearances="true" visible_categories="goals" limit="20" hide_zeroes="true" show_team_names="true" team_naming="full" player_naming="full" show_logo="false" show_title="false" breakpoints="400" sport="football"></opta-widget>
            </div>
            <div v-show="selected_option == 'referees'" id="referees">
                <opta-widget load="false" widget="referees" :competition="competition" :season="season" template="normal" show_fouls="true" show_penalties="true" show_cards_yellow="true" show_cards_red="true" show_offsides="true" show_cards_per_game="true" show_fouls_per_card="true" show_cards_icons="true" sorting="false" player_naming="full" show_logo="false" show_title="false" breakpoints="400" sport="football"></opta-widget>
            </div>
            <div v-show="selected_option == 'player_ranking'" id="player_ranking">
                <opta-widget load="false" widget="player_ranking" :competition="competition" :season="season" template="normal" navigation="tabs_more" show_crests="false" show_images="false" show_ranks="true" show_appearances="true" visible_categories="goals,goals_conceded,passes,cards_yellow,cards_red,saves" limit="10" hide_zeroes="true" show_team_names="true" team_naming="full" player_naming="full" show_logo="false" show_title="false" breakpoints="400" sport="football"></opta-widget>
            </div>
            <div v-show="selected_option == 'player_compare'" id="player_compare">
                <opta-widget load="false" widget="player_compare" :competition="competition" :season="season" template="dual" navigation="tabs_more" default_nav="1" show_selects="true" show_crests="false" show_images="false" show_graphs="true" graph_style="full" competition_naming="full" team_naming="full" player_naming="full" show_logo="false" show_title="false" breakpoints="400" sport="football"></opta-widget>
            </div>
            <div v-show="selected_option == 'decline'" id="decline">
                <div class="flex">
                    <div class="w-1/2 flex"></div>
                    <div class="w-1/2 flex text-center justify-between pb-1 border-b" style="border-color: rgba(10,59,65,0.2);">
                        <div class="flex-1">Pts</div>
                        <div class="flex-1">Prom</div>
                        <div class="flex-1">PJ</div>
                    </div>    
                </div>
                <div v-for="(row,index) in teams" class="ml-1 flex border-b-1 p-1 justify-between text-sm">
                    <div class="w-1/2 flex items-center">
                        <div class="w-1/6 text-center px-2"><strong>{{ row.pos }}</strong></div>
                        <div class="w-5/6 truncate ml-1">{{ row.name }}</div>
                    </div>
                    <div class="w-1/2 flex text-center justify-between pb-1 border-b" style="border-color: rgba(10,59,65,0.2);">
                        <div class="flex-1">{{ row.pt }}</div>
                        <div class="flex-1">{{ row.prom }}</div>
                        <div class="flex-1">{{ row.pj }}</div>
                    </div>
                </div>
            </div>
            <div v-show="selected_option == 'reclassification'" id="reclassification">
                <div class="flex">
                    <div class="w-1/2 flex"></div>
                    <div class="w-1/2 flex text-center justify-between pb-1 border-b" style="border-color: rgba(10,59,65,0.2);">
                        <div class="flex-1">Pts</div>
                        <div class="flex-1">PJ</div>
                        <div class="flex-1">GF</div>
                        <div class="flex-1">GC</div>
                        <div class="flex-1">DG</div>
                    </div>
                </div>
                <div v-for="(row,index) in teams" class="ml-1 flex border-b-1 p-1 justify-between text-sm">
                    <div class="w-1/2 flex items-center">
                        <div class="w-1/6 text-center px-2"><strong>{{ row.pos }}</strong></div>
                        <div class="w-5/6 truncate ml-1">{{ row.name }}</div>
                    </div>
                    <div class="w-1/2 flex text-center justify-between pb-1 border-b" style="border-color: rgba(10,59,65,0.2);">
                        <div class="flex-1">{{ row.pt }}</div>
                        <div class="flex-1">{{ row.pj }}</div>
                        <div class="flex-1">{{ row.gf }}</div>
                        <div class="flex-1">{{ row.gc }}</div>
                        <div class="flex-1">{{ row.gd }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
                <small>Opta fields not found or incorrect</small>
            </div>
        </div>
    </div>
</div>