<div>
    <div v-if="competition>0 && season>0 && match>0">
        <opta-widget widget="provisional_lineup" :competition="competition" :season="season" :match="match" template="normal" show_match_header="true" show_crests="false" show_competition_name="false" show_images="false" show_subs="true" side="both" column_count="1" side_by_side="true" competition_naming="full" player_naming="full" team_naming="full" show_logo="false" show_title="true" breakpoints="400, 700" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>