<div>
    <div v-if="competition>0 && season>0">
        <opta-widget widget="referees" :competition="competition" :season="season" template="normal" show_fouls="true" show_penalties="true" show_cards_yellow="true" show_cards_red="true" show_offsides="true" show_cards_per_game="true" show_fouls_per_card="true" show_cards_icons="true" sorting="false" player_naming="full" show_logo="false" show_title="true" breakpoints="400" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>