<div>
    <div v-if="competition>0 && season>0 && match>0">
        <opta-widget widget="pass_matrix" :competition="competition" :season="season" :match="match" template="normal" live="true" orientation="horizontal" show_selects="both" top_combinations="5" show_match_header="true" show_crests="false" show_team_formation="true" show_competition_name="false" show_timecontrols="true" navigation="tabs_more" default_nav="1" one_direction="false" competition_naming="full" show_date="true" date_format="dddd D MMMM YYYY" team_naming="full" player_naming="full" show_tooltips="false" show_logo="false" show_title="true" breakpoints="400, 700" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>