<div>
    <div v-if="competition>0 && season>0">
        <opta-widget widget="player_compare" :competition="competition" :season="season" template="normal" navigation="tabs_more" default_nav="1" show_selects="true" show_crests="false" show_images="false" competition_naming="full" team_naming="full" player_naming="full" show_logo="false" show_title="true" breakpoints="400" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>