// Non-modular or client styles for .l-header region.
.off-canvas-content{
	padding-top: 8rem;
}
#header-fixed{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $primary-color;
	padding: 1rem;
	z-index: 1;
}
#block-winsports-main-menu{
    padding-top: .6rem;
    padding-bottom: .6rem;
	ul:not(.contextual-links){
		/* li:first-child{
			width: 10%;
		} */
		li{
			//width: 17%;
			a{
				text-align: center;
				font-size: 1.09vw;
				text-transform: uppercase;
				color: #fff;
				padding-left: .8rem;
				padding-right: .8rem;
			}
			a.is-active{
				text-align: center;
				color: $secondary-color;
			}
		}
	}
	.dropdown a{
		background-color: $primary-color;
	}
}