<div id="mediastream-player-{{ mediastream_id }}" class="mediastream-player">
    <div id="video-{{ mediastream_id }}">
        <div class="image" data-id="{{ mediastream_id }}">
            {{ image }}
            <div class="play-icon">
                <img src="/themes/custom/winsports/images/icons/play.png" alt="Play">
            </div>
        </div>
    </div>
</div>