<div id="mediastream-player-{{ mediastream_id }}" class="mediastream-player tw-bg-gray-650">
    <div id="video-{{ mediastream_id }}">
        <div class="image tw-relative tw-cursor-pointer" data-id="{{ mediastream_id }}">
            {{ image }}
            <div class="tw-absolute tw-top-0 tw-left-0 play-icon tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center">
                <img src="/themes/custom/winsports/images/icons/play.png" alt="Play" class="tw-h-24 tw-w-24 tw-opacity-100">
            </div>
        </div>
    </div>
</div>