<div>
    <div v-if="competition>0 && season>0 && match>0">
        <opta-widget widget="attacking_thirds" :competition="competition" :season="season" :match="match" template="normal" live="true" orientation="horizontal" side="both" half_pitch="false" one_direction="false" navigation="tabs_more" animation="true" show_match_header="true" show_halftime_score="false" show_crests="false" show_pitch_crests="false" show_competition_name="false" show_timecontrols="false" proportional_arrows="false" competition_naming="full" team_naming="full" show_date="true" date_format="dddd D MMMM YYYY" show_logo="false" show_title="true" show_live="true" breakpoints="400, 700" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>