<div>
    <div v-if="competition>0 && season>0">
        <opta-widget widget="season_standings" :competition="competition" :season="season" template="normal" show_competition_name="false" show_team_list="true" preselected_only="false" show_match_header="false" show_date="true" show_match_details="true" show_crests="false" show_axis_labels="true" show_plot_points="true" plot_curves="false" date_format="dddd D MMMM YYYY" competition_naming="full" team_naming="full" show_logo="false" show_title="true" breakpoints="400, 700" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>