<div>
    <div v-if="competition>0 && season>0">
        <opta-widget widget="player_ranking" :competition="competition" :season="season" template="normal" navigation="tabs_more" show_crests="false" show_images="false" show_ranks="true" show_appearances="true" visible_categories="goals,goals_conceded,passes,cards_yellow,cards_red,saves" limit="10" hide_zeroes="true" show_team_names="true" team_naming="full" player_naming="full" show_logo="false" show_title="true" breakpoints="400" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>