// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
h1, h2, h3,
h4, h5, h6 {
  font-family: 'Passion One', cursive;
}
h1, h2{
    font-size: 2.25rem;
    margin-bottom: .6rem;
    color: $primary-color;
    line-height: 1;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
    line-height: 1;
    font-weight: 700;
}
.title-news{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.node--type-article{
  .date{
    padding: 1rem 0;
    margin: 1rem 0;
  }
  .lead{
    font-size: 1.125rem;
    color: $primary-color;
    font-style: italic;
    margin-top: .5rem;
    margin-bottom: 2rem;
  }
  .body{
    font-size: 1.25rem;
    line-height: 1.5em;
    color: #0b3b41;
  }
}
.title-tags{
	margin-bottom: 2rem;
	span{
	    font-size: 1rem;
	    margin-bottom: 1rem;
	    color: $primary-color;
	    line-height: 1;
	    font-weight: 700;
	}
}
.category {
	margin-bottom: .5rem;
  a {
    font-family: 'Source Sans Pro',sans-serif;
  	color: $primary-color;
  	font-size: .75rem;
  	text-transform: uppercase;
  	display: flex;
    align-items: center;
    &::before {
      display: inline-block;
      content: ' ';
      background: url('../images/icons/plus-yellow.png') no-repeat;
      width: 25px;
      height: 20px;
    }
  }
}
.description{
  margin: 1rem 0;
}

.date {
	color: $primary-color;
    font-size: .875rem;
  &::before {
    display: inline-block;
    content: ' ';
    background: url('../images/icons/clock.png') no-repeat;
    width: 20px;
    height: 14px;
  }
}
.button-full{
  background-color: $secondary-color;
  color: $primary-color;
  padding: 2rem;
  display: block;
  margin: 2rem 5rem;
  font-size: 1.5rem;
}
// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }
input[type="text"],
input[type="email"],
textarea{
  background-color: #EDEDED;
  padding: .5rem 1.2rem;
  height: 47px;
}
input::placeholder,
textarea::placeholder{
  color: #97AEB1;
}
// select {}
