// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
//h1, h2, h3,
//h4, h5, h6 {}
h1, h2{
    font-size: 2.25rem;
    margin-bottom: .6rem;
    color: $primary-color;
    line-height: 1;
    font-weight: 700;
}
.title{
    font-size: 2rem;
    margin-bottom: .6rem;
    color: $primary-color;
    line-height: 1;
    font-weight: 700;
}
.title-tags{
	margin-bottom: 2rem;
	span{
	    font-size: 1rem;
	    margin-bottom: 1rem;
	    color: $primary-color;
	    line-height: 1;
	    font-weight: 700;
	}
}
.category {
	margin-bottom: .5rem;
  a {
  	color: $primary-color;
  	font-size: .75rem;
  	text-transform: uppercase;
  	display: flex;
    align-items: center;
    &::before {
      display: inline-block;
      content: ' ';
      background: url('../images/icons/plus-yellow.png') no-repeat;
      width: 25px;
      height: 20px;
    }
  }
}
.date {
	color: $primary-color;
    font-size: .875rem;
  &::before {
    display: inline-block;
    content: ' ';
    background: url('../images/icons/clock.png') no-repeat;
    width: 20px;
    height: 14px;
  }
}
// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}
