<div>
    <div v-if="competition>0 && season>0 && match>0">
        <opta-widget widget="timeline" :competition="competition" :season="season" :match="match" template="normal" live="true" orientation="horizontal" vertical_timebar_height="260" group_substitutions="false" show_match_header="true" show_score="true" show_crests="false" show_assists="all" show_team_formation="true" show_clock="true" show_period_dividers="true" show_halftime_score="false" show_date="true" date_format="dddd D MMMM YYYY" show_attendance="true" show_images="true" show_referee="true" show_venue="true" show_cards="all" show_goals="true" show_penalties_missed="true" show_subs="true" show_goals_combined="false" show_shootouts="true" show_competition_name="true" competition_naming="full" team_naming="full" player_naming="full" show_live="true" show_logo="false" show_title="false" breakpoints="400, 700" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>