<div>
    <div v-if="competition>0 && season>0 && match>0">
        <opta-widget widget="heatmap" :competition="competition" :season="season" :match="match" preselected_player="all" template="normal" live="true" show_maps="all" orientation="horizontal" side="both" dimension="3D" one_direction="false" show_match_header="true" show_score="true" show_halftime_score="false" show_crests="false" show_team_formation="true" show_competition_name="false" show_date="true" date_format="dddd D MMMM YYYY" show_team_sheets="true" show_subs="true" show_position="true" show_timecontrols="true" show_timecontrols_buttons="true" show_timecontrols_bar="true" show_tooltips="false" competition_naming="full" team_naming="full" player_naming="full" show_logo="false" show_title="true" breakpoints="400, 700" sport="football"></opta-widget>
    </div>
    <div v-else>
        <div style="color:white;background-color: rgba(78,165,255,0.45);padding: 10px;">
            <small>Opta fields not found or incorrect</small>
        </div>
    </div>
</div>